
#headerTitle {
	text-align: center;
	width: 100%;
}

#body {
	width: 100%;
}

#rightSidebar {
	float: right;
	width: 14%;
	padding: 1em 0em 1em 0em;
	font-size: 0.65em;
	height: 100%;
	margin-right: 10%;
	margin-left: 2%;
}

* html #rightSidebar { margin-right: 5%; }

#main {
	float: left;
	width: 63%;
	margin-left: 10%;
	display: inline;
	overflow: hidden;
}